APP_ENV=development

PRODUCT_SERVICE_HTTP_PORT=8080
PRODUCT_SERVICE_GRPC_PORT=50051

LOG_LEVEL=info

DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_NAME=gophercart
DATABASE_USER=gophercart
DATABASE_PASSWORD=change-me